@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open+Sans';
}

.custom-content-bg {
  --ion-background-color: #edededc2; 
}

.custom-header-bg {
  --ion-background-color: #edededc2; 
}

.custom-list-header-bg {
  --ion-background-color: #edededc2;
}